$text1 : 'Open Sans', sans-serif;
$text2 : 'Roboto Condensed', sans-serif;
$bg_color : '#000';
$bg_url: 'https://images.pexels.com/photos/2249249/pexels-photo-2249249.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load';



$home_page_padding : '50px';


.text3{
    color: rgb(98, 98, 236);
    font-weight: 500;
}